.App {
  text-align: center;
  background-color: rgb(167, 118, 247);
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 1024px){
  .App{
    font-size: 18px;
 
  }
 
}

@media only screen and (min-width: 700px){
  .App{
    font-size: 28px;

  }
}

