.timer{
display: flex;
justify-content: center;
flex-direction: row;


}
.btn{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(167, 118, 247);
    color: white;
    box-sizing: border-box;
}
.val{
  text-align: center;
  font-size: 25px;
}
.error{
  color: rgb(99, 2, 155);
}

@media only screen and (max-width: 1024px){
  .btn{
    padding: 0px;
 
  }
  .val{
    font-size: 10px;
  }
 
}

@media only screen and (min-width: 600px){
  .btn{
    padding: 20px;

  }
}