.date-time{
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}
.timerbtns{
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}
@media only screen and (max-width: 1024px){
    .date-time{
     padding: 5px;
   
    }
   
  }
  
  @media only screen and (min-width: 700px){
    .date-time{
     padding: 15px
  
    }
  }