.date-time{
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}
.timerbtns{
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}